<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <% for (let user of userInfo) { %>
       <p><%= user.name %></p>
       <p><%= user.email %></p> 
    <% } %>
</body>
</html>