<header>
    <div><h1>The Collector's Guild</h1></div>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            
            <li><a href="#about">About</a></li>

            <li><a href="#events">Events</a></li>

            <li><a href="#explore">Explore</a></li>

            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>